---
language: bash

# Tell Travis to start Docker when it brings up an environment.
services:
  - docker

env:
  global:
    - secure: "oARYddKjz6n1fec6cuMTH/6i5SJilT2IL9Eaw7avNUtnQG+BJMwRdUiXgVQ65Kn6GBX8/0pf0kq7YMRdSYtKSsDer5OJ7JTbT9l6JFstU0F0rrJNBUML/Q3jAri3eb5I1hxTHEe2v6cKdIj1/ly++WmfvYkvGDTNt2SMhOGWgwwdmyUUvp2Nscfhz7EhAeyV8Liczx5yNxO2i1COWPE0/Ny9JF2+Q0mNQfVwBxIGsQ4ii6geFztOZ7hh0jjUFTZfNLuGN1mW9/HbFOiUSKgrp7GzjZ0pvmw0f5o6szluoI4DDEujIf/b/xLVo21uepZAJPqBL24QKSCA3VaZcbb0Nfzxg4At9uEgvUhXAaNULGaiOLZNd2qPUnrReP04Ob/qZdhxHJuz4KQCvBvACbCHM+mcNX5G1PaF/I00tPckeYqNflWhepPpVj2GHHie1aMFrgDA8spFx5g6cheAel95UvGrNrYm8cH3aryJ6t+FmYqm7RaqUkJXRbDyJZS9uUo9nKk7QT1I5fxhJ0tjgdULfkA+By4bV8OTx6/nqHa7j0/1e6ZTvD6QhJyUnno/ZWp8lQiJw4tb2ADVCkxwr17u6+0GupqhGc083laWquC45oglIyrS4dNEpxEOKPlgia0wVHxSvfhmxsPjczHi5R86BskgyETJdZ/m5Jb/RkH5Q2w="
    - secure: "jskAgcelTUfJYuk59TYTTCZo1/oZv1L+lzj1VoHDEriwEnhHl/I/k1XHOGo8xtF2b+CbSTdJqJ11qYX+3E/GI3KQR8JCrMICV4XfgUzfDF9Bl16SBbIA3xbfTVvE5Vg2ecUYucA7/6N9qJs9DnAc8sDAitp5e1HPx3SH5owvFC+AXgGBV/j3KTECMtI9zxG0w4dS56Ae+B2ydtTtD9NVSKsmGoAIWlGIntGs9byi6z7KDXeyUHwxFxmpzJODqPVNUCPjKiFaeO8dPOJoDmJHuaD4Bdmqe8ynwPYLWvKN6eOlOmNrF9blov7umRK5MlyTElz0GFJoROv5K1MhBE+2zDoByY73aB5Rn1CO8ktR7xBSd4wCTtLPse/zTQfJltZz2kydfDYvT/bP3rE/J767lDGSbUBOEhZywNQMjWIGFNcieNrJSj/u0tOSExCQoyc+4tG5nC0lnaQkudIb2XHpxYqly6ou7fvcHDRTcBudjYpxajaCMYXAq2jaqsjJWvw/QeSuQfuuPeuQzenEvHdPKIZeOC+duULOsjfCZllTGNMcFfFaTt3T73sF5kaia90MuiKvi/GgxFLMJ7jX1y/D9ihdh2oL+vOIws1QvwSFaRAZzfQb/odmBQPHPoji6Uqdgj2uHG8dhNTcqEBEIrvwcmCzJ6HPnQ0TVI6tE2+rwpU="
  matrix:
    # Provide a list of GLPI version to build
    - TRANSMISSION_VERSION=""

script:
  - export VCS_REF=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_COMMIT; else echo $TRAVIS_PULL_REQUEST_SHA; fi)
  - export VCS_BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)

  # Download tools shim.
  - wget -O ${PWD}/_tools.sh https://gist.github.com/Turgon37/2ba8685893807e3637ea3879ef9d2062/raw

  # 
  # Build docker image
  #
  - ${PWD}/build.sh

  #
  ## Run tests and deploy
  #
  - ${PWD}/tests.sh && \
  ([ "$TRAVIS_PULL_REQUEST" == "false" ] || exit 0) && \
  ([ "$TRAVIS_SECURE_ENV_VARS" == "true" -a  -n "$DOCKERHUB_REGISTRY_USERNAME" -a -n "$DOCKERHUB_REGISTRY_PASSWORD" ]) && \
  ${PWD}/deploy.sh
